#pesquisar {
    position: relative;
}

#pesquisar input[type=text] {
    width: 100%;
    padding: 15px 80px 15px 20px; /* espaço para o botão */
    font-weight: 600;
    background-color: white;
    border-radius: 50px;
    border: #e50914 solid 2px;
    font-size: 18px;
}

#pesquisar button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    background: transparent;
    border: none;

    color: #666;
    font-size: 22px;

    cursor: pointer;
    transition: .3s;
}

#pesquisar button:hover {
    color: #e50914;
}